<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2>Zarejestruj</h2>
        <p ng-if="error" style="color: red">{{error}}</p>
        <md-input-container class="md-block">
            <input type="text" ng-model="name" placeholder="Nazwa użytkownika" required>
        </md-input-container>
        <md-input-container class="md-block">
            <input type="password" ng-model="password" placeholder="Hasło" required>
        </md-input-container>
        <md-input-container class="md-block">
            <input type="password" ng-model="password2" placeholder="Potwierdź hasło" required>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="cancel()" class="md-primary">Anuluj</md-button>
        <md-button ng-click="register([name, password])" class="md-primary"
            ng-disabled="!(name && password && password === password2)">Zarejestruj</md-button>
    </md-dialog-actions>
</md-dialog>
