<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <title>Terminarz</title>
    <link rel="stylesheet" href="/material.css">
    <link rel="icon" href="/favicon.ico">
</head>

<body ng-app="App" layout="column">

    <md-toolbar ng-controller="ToolbarController">
        <div class="md-toolbar-tools">
            <h2 flex>Terminarz</h2>
            <md-button class="md-primary md-raised md-hue-1" ng-click="showAddDialog($event)">
                Dodaj wydarzenie
            </md-button>
            <md-button class="md-primary md-raised md-hue-1" ng-click="showLoginDialog($event)">
                Zaloguj
            </md-button>
            <md-button class="md-primary md-raised md-hue-1" ng-click="showRegisterDialog($event)">
                Zarejestruj
            </md-button>
            <md-button class="md-primary md-raised md-hue-1" ng-click="showLogoutDialog($event)">
                Wyloguj
            </md-button>
        </div>
    </md-toolbar>

    <div class="container" layout="row" flex>
        <md-sidenav md-is-locked-open="true">
            <div ng-controller="CalendarController">
                <md-calendar ng-model="date" ng-change="log()" md-date-filter="filter"></md-calendar>
            </div>
            <div class="md-padding">
                <md-checkbox class="md-primary">publiczne</md-checkbox>
                <md-checkbox class="md-primary">moje publiczne</md-checkbox>
                <md-checkbox class="md-primary">prywatne</md-checkbox>
            </div>
        </md-sidenav>
        <md-content id="content" flex>
            <md-list ng-controller="EventController">
                <md-list-item ng-repeat="e in events">
                    <md-card style="max-width: 50%">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{e.name}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>{{e.startDateTime | date:'dd/MM/yyyy HH:mm'}} - {{e.endDateTime | date:'dd/MM/yyyy HH:mm'}}</p>
                            <p>{{e.description}}</p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="showEditDialog($event, e)">Edytuj</md-button>
                            <md-button ng-click="showDeleteDialog($event, e.id)">Usuń</md-button>
                        </md-card-actions>
                    </md-card>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/angular-animate/angular-animate.min.js"></script>
    <script src="/libs/angular-aria/angular-aria.min.js"></script>
    <script src="/libs/angular-material/angular-material.min.js"></script>
    <script>
        angular.module("App", ["ngMaterial"])
            .controller("EventController", function ($scope, $http, $mdDialog) {
                $http.get("http://localhost:10010/events")
                    .then(function (response) {
                        $scope.events = response.data;
                    });
                $scope.showDeleteDialog = function (event, eventId) {
                    var confirm = $mdDialog.confirm()
                        .title('Czy na pewno chcesz usunąć?')
                        .targetEvent(event)
                        .ok('Usuń')
                        .cancel('Anuluj');

                    $mdDialog.show(confirm).then(function() {
                        $http.delete("http://localhost:10010/events/" + eventId);
                    }, function() {
                    });
                };
                $scope.showEditDialog = function (event, e) {
                    $mdDialog.show({
                        controller: function ($scope, $mdDialog) {
                            $scope.cancel = function () { $mdDialog.cancel(); }
                            $scope.addEvent = function (data) { $mdDialog.hide(data); }
                            $scope.name = e.name;
                            $scope.description = e.description;
                            $scope.startDateTime = new Date(e.startDateTime);
                            $scope.endDateTime = new Date(e.endDateTime);
                            $scope.public = e.public;
                        },
                        templateUrl: "/templates/add_event.html",
                        parent: angular.element(document.body),
                        targetEvent: event,
                        clickOutsideToClose: true
                    })
                        .then(function (data) {
                            $http.put("http://localhost:10010/events/" + e.id, {
                                "name": data[0],
                                "description": data[1],
                                "startDateTime": data[2].toISOString(),
                                "endDateTime": data[3].toISOString(),
                                "public": data[4]
                            });
                        }, function () { });
                };
            })
            .controller("CalendarController", function ($scope) {
                $scope.date = null;
                $scope.log = function () {
                    console.log($scope.date);
                }
                $scope.filter = function(date) {
                    return true;
                }
            })
            .controller("ToolbarController", function ($scope, $http, $mdDialog) {
                $scope.showAddDialog = function (event) {
                    $mdDialog.show({
                        controller: function ($scope, $mdDialog) {
                            $scope.cancel = function () { $mdDialog.cancel(); }
                            $scope.addEvent = function (data) { $mdDialog.hide(data); }
                            $scope.name = null;
                            $scope.description = null;
                            $scope.startDateTime = null;
                            $scope.endDateTime = null;
                            $scope.public = false;
                        },
                        templateUrl: "/templates/add_event.html",
                        parent: angular.element(document.body),
                        targetEvent: event,
                        clickOutsideToClose: true
                    })
                        .then(function (data) {
                            $http.post("http://localhost:10010/events", {
                                "name": data[0],
                                "description": data[1],
                                "startDateTime": data[2].toISOString(),
                                "endDateTime": data[3].toISOString(),
                                "public": data[4]
                            });
                        }, function () { });
                };
                $scope.showLoginDialog = function (event) {
                    $mdDialog.show({
                        controller: function ($scope, $mdDialog) {
                            $scope.cancel = function () { $mdDialog.cancel(); }
                            $scope.login = function (data) { $mdDialog.hide(data); }
                            $scope.name = null;
                            $scope.password = null;
                        },
                        templateUrl: "/templates/login.html",
                        parent: angular.element(document.body),
                        targetEvent: event,
                        clickOutsideToClose: true
                    })
                        .then(function (data) {
                            $http.get("http://localhost:10010/users/" + data[0])
                                .then(function (response) {
                                    console.log(response);
                                });
                        }, function () { });
                };
                $scope.showRegisterDialog = function (event) {
                    $mdDialog.show({
                        controller: function ($scope, $mdDialog) {
                            $scope.cancel = function () { $mdDialog.cancel(); }
                            $scope.register = function (data) { $mdDialog.hide(data); }
                            $scope.name = null;
                            $scope.password1 = null;
                            $scope.password2 = null;
                        },
                        templateUrl: "/templates/register.html",
                        parent: angular.element(document.body),
                        targetEvent: event,
                        clickOutsideToClose: true
                    })
                        .then(function (data) {
                            $http.post("http://localhost:10010/users", {
                                "name": data[0],
                                "password": data[1]
                            });
                        }, function () { });
                };
                $scope.showLogoutDialog = function (event) {
                    var confirm = $mdDialog.confirm()
                      .title('Czy na pewno chcesz się wylogować?')
                      .targetEvent(event)
                      .ok('Wyloguj')
                      .cancel('Anuluj');

                    $mdDialog.show(confirm).then(function() {
                      $http.delete("http://localhost:10010/users");
                    }, function() {
                    });
                };
            })
            .config(function($mdDateLocaleProvider) {
                $mdDateLocaleProvider.months = ['styczeń', 'luty', 'marzec', 'kwiecień','maj','czerwiec',
                    'lipiec','sierpień','wrzesień','październik','listopad','grudzień'];
                $mdDateLocaleProvider.shortMonths = ['sty', 'lu', 'mar', 'kwi','maj','cze',
                    'lip','sie','wrze','paź','lis','gru'];
                $mdDateLocaleProvider.days = ['niedziela', 'poniedziałek', 'wtorek', 'środa', 'czwartek','piątek','sobota'];
                $mdDateLocaleProvider.shortDays = ['nd', 'pn', 'wt', 'śr', 'czw','pt','sb'];
                $mdDateLocaleProvider.firstDayOfWeek = 1;
            });
    </script>
</body>

</html>
